<h1>Iniciar sesion</h1>

<form method="POST" action="api/sessions/login">
    <imput type="text" name="email" placeholder="email"/>
    <imput type="password" name="password" placeholder="password"/>
    <imput type="submit" value="Iniciar sesion"/>
</form>