<h1>Registrarse</h1>

<form method="POST" action="api/sessions/register">
    <imput type="text" name="first_name" placeholder="First_name"/><br>
    <imput type="text" name="last_name" placeholder="Last_name"/><br>
    <imput type="number" name="age" placeholder="Age"/><br>
    <imput type="text" name="email" placeholder="Email"/><br>
    <imput type="password" name="password" placeholder="Password"/><br>
    <imput type="submit" value="Registrarse"/>
</form>